{% extends 'layout.html' %}















{% block content %}
    <!-- 5 new users -->
    <h2>New users:</h2>
    {% if messages %}
        {% for message in messages %}
               {% if message.tags == 'error' %}
                    <div style="color: red; padding: 10px; border: 3px solid red; margin-bottom:10px;">
                    {{ message }}
                    </div>
               {% endif %}  
               {% if message.tags == 'success' %}
                    <div style="color: green; padding: 10px; border: 3px solid green; margin-bottom:10px;">
                    {{ message }}
                    </div>
               {% endif %}  
        {% endfor %}
    {% endif %}
    <ul>
        {% for user in last_users %}
        <li>{{ user.username }}</li>
        {% endfor %}
    </ul>

    <h2>Fresh posts:</h2>
    <!-- 3 latest posts -->
    <ul>
        {% for post in last_posts %}
            <li>{{ post.title }}</li>
        {% endfor %}
    </ul>
    {% comment %} <script>alert('You"ve been hacked!!!')</script> {% endcomment %}
{% endblock %}